{% extends "base.jinja" %}

{%- block content %}
    <div class="container">
      <div class="columns">
        <div class="column col-2">
          <ul class="menu">
  	  Hello Admin!
    	  <li class="divider" data-content="USERS"></li>
            <li class="menu-item">
              <a href="/admin/users">
                <i class="icon icon-people"></i> Show Users
              </a>
            </li>
    	  <li class="divider" data-content="PRODUCTS"></li>
            <li class="menu-item">
              <a href="/admin/pshow"><i class="icon icon-search"></i> Show Products</a>
              <a href="/admin/pcreate"><i class="icon icon-plus"></i> Create Product</a>
            </li>
    	  <li class="divider" data-content="PAYMENTS"></li>
            <li class="menu-item">
              <a href="/admin/payments"><i class="icon icon-emoji"></i> Show Payments</a>
            </li>
          </ul>

        </div>
        <div class="column col-2"></div>
        <div class="column col-8">
          {%- block adminpage %}
          {%- endblock %}
        </div>

      </div>
    </div>
{%- endblock %}

{%- block scripts %}
{%- endblock %}
