{% extends "admin.jinja" %}

{%- block adminpage %}

	<h3>Add Product</h3>
        <form action="/products" method="post">

          <div class="form-group">
            <div class="col-5 col-sm-12">
	      {{ form.name.label(class="form-label") }}
	      {{ form.name(class="form-input", placeholder='product name') }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-5 col-sm-12">
	      {{ form.desc.label(class="form-label") }}
	      {{ form.desc(class="form-input", placeholder='description') }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-5 col-sm-12">
	      {{ form.spec1.label(class="form-label") }}
	      {{ form.spec1(class="form-input", placeholder='specification') }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-5 col-sm-12">
	      {{ form.spec2.label(class="form-label") }}
	      {{ form.spec2(class="form-input", placeholder='specification') }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-5 col-sm-12">
	      {{ form.spec3.label(class="form-label") }}
	      {{ form.spec3(class="form-input", placeholder='specification') }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-5 col-sm-12">
	      {{ form.price.label(class="form-label") }}
	      {{ form.price(class="form-input", placeholder='specification') }}
            </div>
          </div>

          <div class="col-5 col-sm-12">
	    <button class="btn">Add</button>
          </div>

        </form>

        {% if name %}
	<div class="modal active" id="modal-id">
          <a href="/" class="modal-overlay" aria-label="Close"></a>
          <div class="modal-container">
            <div class="modal-header">
              <a href="/" class="btn btn-clear float-right" aria-label="Close"></a>
              <div class="modal-title h5">Product status:</div>
            </div>
            <div class="modal-body">
              <div class="content">
                <i class="icon icon-2x icon-flag"></i>
                {% if status %}
		The product has been added.
                {% else %}
		There is an error occured! Please try again later.
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}

{%- endblock %}

{%- block scripts %}
{%- endblock %}
