{%- block banner %}

          <div class="hero bg-gray text-center">
            <div class="hero-body">
              <h1>
                <img src="/static/images/yadda_small.png" class="img-responsive p-centered">
              </h1>
              <h5>yadda - empower application simplicity </h5>
            </div>
          </div>
          <div class="divider"></div>

{%- endblock %}
