<!DOCTYPE html>
{% import 'macros.jinja' as m -%}
<html lang="en">
  <head>
    <link rel=icon href="/static/favicon.png">
    {%- block meta %}
    {%- endblock %}
    <meta charset="utf-8">
    <title>Yadda Cloud Portal</title>
    <meta name="description" content="Simplified Container service for your images.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ m.css("/static/css/spectre.min.css") }}
    {{ m.css("/static/css/spectre-exp.min.css") }}
    {{ m.css("/static/css/spectre-icons.min.css") }}
  </head>
  <body>
    <div class="p-2 bg-dark">
    {% include "header.jinja" %}
    </div>
    <div class="container">
      <div class="columns">
        <div class="column col-1"></div>
        <div class="column col-10">
          {%- block content %}
          {%- endblock %}
        </div>
        <div class="column col-1"></div>
      </div>
    </div>
    {{ m.script("https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") }}
    {%- block scripts %}
    {%- endblock %}
  </body>
</html>
