{% extends "base.jinja" %}

{%- block content %}

    {% include "banner.jinja" %}

    <div class="container">
      <div class="columns">

        <div class="col-2"></div>
        <div class="col-8">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price / month</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
  	    {% for product in cart %}
              <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.desc }}</td>
                <td>{{ '%0.2f'| format(product.price|float) }} CHF</td>
		<td><a href="/cart/{{ product.id }}/delete"><i class="icon icon-delete center"></i></a></td>
              </tr>
  	    {% endfor %}
            </tbody>
          </table>
	</div>
        <div class="col-2"></div>

        <div class="col-8"></div>
        <div class="col-2">
  	  <a href="/checkout" class="btn btn-primary">Checkout</a>
        </div>

      </div>
    </div>
{%- endblock %}

{%- block scripts %}
{%- endblock %}
