{% extends "base.jinja" %}

{%- block content %}

    {% include "banner.jinja" %}

	<h3>Contact us!</h3>
        {% if form %}
        <form class="form-horizontal" action="/contact" method="post">

          <div class="form-group">
            <div class="col-2 col-sm-12"></div>
            <div class="col-1 col-sm-12">
              <label class="form-label" for="contact-name">Name</label>
            </div>
            <div class="col-5 col-sm-12">
              <input class="form-input" type="text" id="contact-name" name="name" placeholder="Name">
            </div>
          </div>

          <div class="form-group">
            <div class="col-2 col-sm-12"></div>
            <div class="col-1 col-sm-12">
              <label class="form-label" for="contact-mail">EMail</label>
            </div>
            <div class="col-5 col-sm-12">
              <input class="form-input" type="email" id="contact-mail" name="mail" placeholder="EMail">
            </div>
          </div>

          <div class="form-group">
            <div class="col-2 col-sm-12"></div>
            <div class="col-1 col-sm-12">
              <label class="form-label" for="contact-msg">Message</label>
            </div>
            <div class="col-5 col-sm-12">
              <textarea class="form-input" id="contact-text" placeholder="Message" name="text" rows="5"></textarea>
            </div>
          </div>

          <div class="input-group">
            <div class="col-3 col-sm-12"></div>
            <div class="col-3 col-sm-12">
              <button class="btn">Submit</button>
            </div>
            <div class="col-3 col-sm-12">
              {{ form.recaptcha }}
            </div>
          </div>

        </form>
        {% endif %}

        {% if name %}
	<div class="modal active" id="modal-id">
          <a href="/" class="modal-overlay" aria-label="Close"></a>
          <div class="modal-container">
            <div class="modal-header">
              <a href="/" class="btn btn-clear float-right" aria-label="Close"></a>
              <div class="modal-title h5">Thanks {{ name }}!</div>
            </div>
            <div class="modal-body">
              <div class="content">
                <i class="icon icon-2x icon-mail"></i>
                {% if status %}
		The message has been send.
                {% else %}
		There is an error occured! Please try again later.
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}

{%- endblock %}

{%- block scripts %}
{%- endblock %}
