{% extends "base.jinja" %}

{%- block content %}
    <div class="container">
      <div class="columns">

        <ul class="menu">
	  Hello {{ current_user.name}}!
  	  <li class="divider"></li>
          <li class="menu-item">
            <a href="#"><i class="icon icon-link"></i>Dashboard</a>
          </li>
  	  <li class="divider" data-content="PRODUCTS"></li>
          <li class="menu-item">
            <a href="#"><i class="icon icon-link"></i>Show all</a>
            <a href="#"><i class="icon icon-link"></i>Create new</a>
            <a href="#"><i class="icon icon-link"></i>Payments</a>
          </li>
        </ul>

      </div>
    </div>
{%- endblock %}

{%- block scripts %}
{%- endblock %}
