{%- block header %}

    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2 pt-2">yadda</a>
	<div class="divider-vert"></div>
        <a href="/products" class="btn btn-link text-secondary">Products</a>
        <a href="/cart" class="btn badge btn-link text-secondary" data-badge="{{ session["cart"] | length }}" >Cart</a>
        <a href="/contact" class="btn btn-link text-secondary">Contact</a>
      </section>

      <section class="navbar-section">

	{% if current_user.is_authenticated %}

        <div class="popover popover-bottom">
          <a href="/dashboard">
            <figure class="avatar avatar-sm"><img src="{{ current_user.profile_pic }}"></figure>
	  </a>
          <div class="popover-container">
            <div class="card">
              <div class="card-header">
                <div class="card-title text-dark h5">Hello {{ current_user.name }}!</div>
              </div>
              <div class="card-body ">
                <div class="text-dark">E-mail:</div>
                <div class="text-gray">{{ current_user.email }}</div>
              </div>
              <div class="card-footer">
	        <a href="/dashboard" class="btn btn-primary text-secondary">Dashboard</a>
	        <a href="/profile" class="btn btn-primary text-secondary">Profile</a>
	        <a href="/logout" class="btn btn-primary text-secondary">Logout</a>
              </div>
            </div>
          </div>
        </div>

	{% else %}

        <a href="/login" class="btn btn-link text-secondary">Login</a>
	{% endif %}
	<div class="divider-vert hide-sm"></div>
        <div class="input-group input-inline hide-sm">
          <input class="form-input" type="text" placeholder="search">
          <button class="btn btn-primary input-group-btn">Search</button>
        </div>
      </section>

    </header>

{%- endblock %}
