{% extends "base.jinja" %}

{%- block content %}

    {% include "banner.jinja" %}

    <div class="container">
      <div class="columns">

        <div class="column col-4 col-sm-12">
          <div class="card">
            <div class="card-image">
              <img src="static/images/container.jpg" class="img-responsive">
            </div>
            <div class="card-header">
              <div class="card-title h5">Container Services</div>
              <div class="card-subtitle text-gray">next level for your applications</div>
            </div>
            <div class="card-body">
              Our first class Container services will Level up your applications.
	      Simplicity is your success! Check out our <a href="/products">products</a>.
            </div>
          </div>
        </div>

        <div class="column col-4 col-sm-12">
          <div class="card">
            <div class="card-image">
              <img src="static/images/journey.jpg" class="img-responsive">
            </div>
            <div class="card-header">
              <div class="card-title h5">Our Journey</div>
              <div class="card-subtitle text-gray">Discover our journey</div>
            </div>
            <div class="card-body">
              The market is strong today. But to get small applications running for small purposes,
	      your have to invest a lot of money and time!
	      We can help you to empower your application with the smallest effort you can imagine!
	      Contact us for more informations ...
            </div>
          </div>
        </div>

        <div class="column col-4 col-sm-12">
          <div class="card">
            <div class="card-image">
              <img src="static/images/security.jpg" class="img-responsive">
            </div>
            <div class="card-header">
              <div class="card-title h5">Security</div>
              <div class="card-subtitle text-gray">How to be secure?</div>
            </div>
            <div class="card-body">
	      We are using the latest CNCF technology to secure all our components.
	      Ask us, if you need more informations.
	      <span class="text-primary">
	        #kubernetes #longhorn #cillium #argocd #openpolicyagent #trivy
	      </span>
            </div>
          </div>
        </div>

      </div>
    </div>
{%- endblock %}

{%- block scripts %}
{%- endblock %}
