{% extends "base.jinja" %}

{%- block content %}

    {% include "banner.jinja" %}

    <div class="container">
      <div class="columns">

        <div class="filter">
          <input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked>
          <input type="radio" id="tag-1" class="filter-tag" name="filter-radio" hidden>
          <input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
          <input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>
        
          <div class="filter-nav">
	    Filter for type: 
            <label class="chip" for="tag-0">All</label>
            <label class="chip" for="tag-1">Small's</label>
            <label class="chip" for="tag-2">Medium's</label>
            <label class="chip" for="tag-3">Large's</label>
          </div>
        
          <div class="filter-body">

	    {% for product in products %}
            <div class="filter-item card" data-tag="tag-{{ product.tag }}">
              <div class="card">
                <div class="card-header">
                  <div class="card-title h5">Name: {{ product.name }}
		    <form action="/cart/{{ product.id }}" method="post">
		      <button class="btn btn-primary btn-sm float-right">
		        <i class="icon icon-plus text-secondary"></i>
		      </button>
		    </form>
		  </div>
                  <div class="card-subtitle">
		    <span class="chip">Size: {{ product.desc }}</span>
		    <span class="chip">{{ '%0.2f'| format(product.price|float) }} CHF / month</span>
		  </div>
                </div>
                <div class="card-body">
		  <span class="chip">CPU: {{ product.spec1 }}</span>
		  <span class="chip">MEM: {{ product.spec2 }} GB</span>
		  <span class="chip">SSD: {{ product.spec3 }} GB</span>
		</div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>

      </div>
    </div>

    <div class="divider"></div>

    <div class="hero-sm bg-gray">
      <div class="hero-body">
        <h5>Description</h5>
	  For each ordered size, you will get an own namespace which is limited to the ordered size.<br>
	  You have to choose an unique name which will create a subdomain like <code>example.yadda.ch</code>.<br>
          You can deploy a simple application at our dashboard in your given namespace.<br>
      </div>
    </div>

{%- endblock %}

{%- block scripts %}
{%- endblock %}
