{% extends "base.jinja" %}

{%- block content %}
    <div class="container">
      <div class="columns">

        <div class="column col-3">
          <div class="panel">
            <div class="panel-header text-center">
              <figure class="avatar avatar-lg"><img src="{{ current_user.profile_pic }}"></figure>
              <div class="panel-title h5 ">{{ current_user.name }}</div>
            </div>
            <div class="panel-body">
	      <div class="tile tile-centered">
                <div class="tile-content">
                  <div class="tile-title text-bold">E-mail</div>
                  <div class="tile-subtitle">{{ current_user.email }}</div>
                </div>
              </div>
            </div>
	    <div class="panel-footer text-center">
	      <a href="/logout" class="btn btn-link text-secondary">Logout</a>
	    </div>
          </div>
        </div>

      </div>
    </div>
{%- endblock %}

{%- block scripts %}
{%- endblock %}
